main header h1{
    margin: 0;
    color: #7E9E86;
    text-align: center;
    position: relative;
    top: 10vh;
}
.Container_Center_Page{
    position: relative;
    top: 20vh;
    left: 50vh;
    text-align: center;
    color: #7E9E86;
}
 table{
    align-items: center;
    border: 1px solid black;
}


/*controlers*/
.controlers{
    margin: 0;
    padding: 0;
    font-size: medium;
    text-align: center;
    background-color: #7E9E86;
}
.controlers_select{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    list-style: none;
}
.controlers_select  option{
   border: 0;
   list-style: none;
   border-radius: 0;
}
.controlers_input {

    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
   
}
.controlers_input :active{
    border: none;
    border-radius: 0;
}

  