.BackGroundModal{
	background-color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	transition: background-color,1s ease;
	z-index: 2;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.transback{
	background-color: rgba(0, 0, 0, 0.459);
}

